body {
    background-color: #eaf6f6;
}

h1 {
    color: #66bfbf;
}

h2 {
    color: #66bfbf;
}

h3 {
    color: #66bfbf;
}

span {
    color: black;
}

hr {
    /* background-color: white; */
    border-color: #66bfbf;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 5%;
}

.circular{
    border-radius: 100%;
}
